<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">{{ client.id? 'Atualizar' : 'Cadastro'}}</li>
</ol>

<div class="container">
  <form #clientForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success">
          <strong>Cliente</strong> salvo/atualizado com sucesso.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="successFalse()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
          O campo <strong>{{ error.fieldError | uppercase }}</strong>  {{ error.message | lowercase}}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="!errors && errorMessage">
          <strong>{{ errorMessage }}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>

    <div class="row text-secondary" *ngIf="client.id">
      <div class="col-md-6">
        <div class="form-group">
          <label>Id</label>
          <input type="text" class="form-control"[ngModel]="client.id" name="id" disabled />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Data Cadastro</label>
          <input type="text" class="form-control" [ngModel]="client.registerDate" name="registerDate" disabled />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Nome *</label>
          <input type="text" class="form-control" [(ngModel)]="client.name" name="name" id="name" required />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="cpf">CPF *</label>
          <input type="text" class="form-control" [(ngModel)]="client.cpf" name="cpf" id="cpf" required />
        </div>
      </div>
    </div>

    <div class="row mt-2 mb-4">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success mr-2" *ngIf="!client.id">
          <i class="fa fa-save mr-2"></i>Salvar
        </button>
        <button type="submit" class="btn btn-primary mr-2" *ngIf="client.id">
          <i class="fa fa-sync-alt mr-2"></i>Atualizar
        </button>

        <button type="button" class="btn btn-danger" routerLink="/cliente-list">
          <i class="fa fa-arrow-alt-circle-left mr-2"></i>Voltar
        </button>
      </div>
    </div>

  </form>
</div>
