<app-title >
  <div class="title">Serviço Prestado</div>
  <div class="subtitle">Cadastro</div>
</app-title>


<div class="container" >

  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">

    <div class="alert alert-success" role="alert" *ngIf="success">
      <strong>Serviço Prestado</strong> salvo/atualizado com sucesso.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="successFalse()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
      O campo <strong>{{ error.message }}</strong>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="!errors && errorMessage">
      <strong>{{ errorMessage }}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="clientId">Cliente </label>
          <select formControlName="clientId" id="clientId" class="form-control"
          [ngClass]="{'is-invalid': displayMessage.clientId}"
          >
            <option value="">Selecione ...</option>
            <option *ngFor="let client of clients"
                    [ngValue]="client.id">
              {{ client.name }}
            </option>
          </select>
          <div class="invalid-feedback" >{{ displayMessage.clientId }}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="description">Descrição</label>
          <input type="text" class="form-control "
            formControlName="description" id="description" placeholder="Descrição é requerida"
            [ngClass]="{'is-invalid': displayMessage.description}"
          />
          <div class="invalid-feedback" >{{ displayMessage.description }}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="date">Data</label>
          <input type="text" class="form-control"
            formControlName="date" id="date" placeholder="dd/mm/yyyy"
            date [textMask]="{mask: maskDate}"
            [ngClass]="{'is-invalid': displayMessage.date }"
          />
          <div class="invalid-feedback">{{ displayMessage.date }}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="price">Valor do serviço</label>
          <input type="text" class="form-control"
            formControlName="price" id="price"
            number [textMask]="{mask: MASKS.number.textMask}"
            [ngClass]="{ 'is-invalid': displayMessage.price }"
          />
          <div class="invalid-feedback" >{{ displayMessage.price }}</div>
        </div>
      </div>
    </div>

    <div class="row mb-4 mt-2">
      <div class="col-md-3">
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
          <i class="fa fa-save mr-1"></i>
          Salvar</button>
      </div>
    </div>

  </form>

</div>
