<app-title >
  <div class="title">Marcas</div>
  <div class="subtitle">Cadastro</div>
</app-title>


<div class="container">

  <form class="row g-3" [formGroup]="form" (ngSubmit)="onSubmit(form)">

    <div class="col-md-6" *ngIf="marca.id" >
      <div class="form-group" >
        <label>Id</label>
        <input type="text" class="form-control" formControlName="id" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="marca" >Marca *</label>
        <input type="text" class="form-control" id="marca" formControlName="marca" placeholder="Marca (requerida)"
        [ngClass]="{ 'is-invalid': displayMessage.marca }"
        />
        <div class="invalid-feedback" >{{ displayMessage.marca }}</div>
      </div>
    </div>

    <div class="col-12">
      <button class="btn btn-success mb-4 mt-2" type="submit" [disabled]="!form.valid">
        <i class="fa fa-save mr-2"></i>Salvar
      </button>
    </div>

  </form>

</div>
