<app-title >
  <div class="title">Clientes</div>
  <div class="subtitle">{{ client.id? 'Atualizar' : 'Cadastro'}}</div>
</app-title>


<div class="container">

  <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success">
          <strong>Cliente</strong> salvo/atualizado com sucesso.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="successFalse()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
          O campo <strong>{{ error.message }}</strong>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="!errors && errorMessage">
          <strong>{{ errorMessage }}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>

    <div class="row text-secondary" *ngIf="client.id">
      <div class="col-md-6">
        <div class="form-group">
          <label>Id</label>
          <input type="text" class="form-control" formControlName="id" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Data Cadastro</label>
          <input type="text" class="form-control" formControlName="registerDate"  />
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6">
        <div class="form-group">
          <label for="name" class="form-label">Nome *</label>
          <input type="text" class="form-control is-invalid" formControlName="name" id="name" maxlength="61"
          [ngClass]="{ 'is-invalid': displayMessage.name }"
          />
          <div id="nameFeedback" class="invalid-feedback">{{ displayMessage.name }}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label" for="cpf" >CPF *</label>
          <input type="text" class="form-control" formControlName="cpf" id="cpf" cpf [textMask]="{mask: MASKS.cpf.textMask}"
          [ngClass]="{ 'is-invalid': displayMessage.cpf }"
          />
          <div class="invalid-feedback" >{{ displayMessage.cpf }}</div>
        </div>
      </div>
    </div>
    <div class="row mt-2 mb-4">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success mr-2" id="Registrar" *ngIf="!client.id" [disabled]="!cadastroForm.valid">
          <i class="fa fa-save mr-2"></i>Salvar
        </button>
        <button type="submit" class="btn btn-primary mr-2" id="Atualizar" *ngIf="client.id" [disabled]="!cadastroForm.valid">
          <i class="fa fa-sync-alt mr-2"></i>Atualizar
        </button>

        <button type="button" class="btn btn-danger" [routerLink]="['/cliente-list']">
          <i class="fa fa-arrow-alt-circle-left mr-2"></i>Voltar
        </button>
      </div>
    </div>

  </form>
</div>
